---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../style.css';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Cover from '../components/Cover.astro';
import Textbox from'../components/Textbox.astro';
---

<Layout title="CA">
	
		<Header/>
			<main>
				<Cover/>
				<section class="text-section">
					<div class="text-row">
						<h2>Hvorfor CA?</h2>
					</div>
					<div class="text-row">
						<Textbox title="Fordele" href="#">
							CA prioriterer dit arbejdsliv og karriere, sikrer tryg udvikling med opdateret viden om erhvervstendenser og kurser, der gør dig attraktiv på arbejdsmarkedet.
						</Textbox>
						<Textbox title="Fordele" href="#">
							CA prioriterer dit arbejdsliv og karriere, sikrer tryg udvikling med opdateret viden om erhvervstendenser og kurser, der gør dig attraktiv på arbejdsmarkedet.
						</Textbox>
						<Textbox title="Fordele" href="#">
							CA prioriterer dit arbejdsliv og karriere, sikrer tryg udvikling med opdateret viden om erhvervstendenser og kurser, der gør dig attraktiv på arbejdsmarkedet.
						</Textbox>
					</div>
				</section>
				<section class="text-section">
					<div class="text-row">
						CA som Studiepartner
					</div>
					<div class="text-row">
						<article class="textbox"></article>
						<article class="textbox"></article>
					</div>
				</section>

			</main>
		<Footer/>

</Layout>

<style>
	@media  (min-width: 768px) {
		body {
			overflow-x: hidden;
		}
		.text-section {
			display: flex;
			flex-direction: column;
			width: 1600px;
			margin: 50px auto;
			justify-content: center;
		}
		.text-row {
			display: flex;
			justify-content: space-around;
			gap: 30px;
			margin: 25px 0;
		}
	}
</style>
