---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../style.css';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Cover from '../components/Cover.astro';
import Textbox from'../components/Textbox.astro';
---

<Layout title="CA">
	
		<Header/>
			<main>
				<Cover/>
				<section class="text-section">
					<div class="text-row">
						<h2>Hvorfor CA?</h2>
					</div>
					<div class="text-row">
						<Textbox title="Fordele" href="#">
							CA prioriterer dit arbejdsliv og karriere, sikrer tryg udvikling med opdateret viden om erhvervstendenser og kurser, der gør dig attraktiv på arbejdsmarkedet.
						</Textbox>
						<Textbox title="Fordele" href="#">
							CA, din pålidelige karrierepartner, støtter i job, overgange og studier med sparring og rådgivning, der guider dig mod karrieredrømmenes realisering.						</Textbox>
						<Textbox title="Fordele" href="#">
							Få ikke kun rådgivning, men også afgørende viden for din fremgang. CA hjælper med at navigere gennem job, overgange og uddannelse, så du kan forfølge karrieredrømmene med tillid.						</Textbox>
					</div>
				</section>
				<section class="text-section">
					<div class="text-row">
						<h2>CA som Studiepartner</h2>
					</div>
					<div class="text-row">
						<article class="textbox">
							<b>CA er din studiepartner</b>
							<br>
							<p>Når du læser på en videregående uddannelse, kan du blive studiemedlem i CA Karrierepartner og a-kasse. Vi hjælper dig til et godt studieliv, så du er klar til et godt arbejdsliv efter uddannelsen.</p>
						</article>
						<article class="textbox">
							<b>Bliv gratis studiemedlem</b>
							<br>
							<p>Som gratis studiemedlem i CA får du en aktiv studiepartner, deltager i lokale events og modtager rådgivning om studietrivsel og eksamensperiode. CA, med over 10.000 studiemedlemmer, er en af Danmarks største organisationer for studerende. Vi er ikke kun for samfundsvidenskabelige eller business-orienterede uddannelser; det afgørende er din vilje til udvikling i studie- og arbejdslivet.</p>
						</article>
					</div>
				</section>

			</main>
		<Footer/>

</Layout>

<style>
	@media  (min-width: 768px) {
		body {
			overflow-x: hidden;
		}
		.text-section {
			display: flex;
			flex-direction: column;
			width: 1600px;
			margin: 50px auto;
			justify-content: center;
		}
		.text-row {
			display: flex;
			justify-content: space-around;
			gap: 30px;
			margin: 25px 0;
		}
	}
	@media  (max-width: 768px) {
		.text-section {
			padding: 15px;
			margin: 15px auto;
		}
		.text-row {
			margin: 20px 0;
		}
		.textbox {
			margin: 20px 0;
		}
	}
	.textbox {
		max-width: 375px;
		
	}
	b {
		font-size: 1.2rem;
	}
</style>
