---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../style.css';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Cover from '../components/Cover.astro';
---

<Layout title="CA">
	
		<Header/>
			<main>
				<Cover/>
			</main>
		<Footer/>

</Layout>

<style>
	@media  (min-width: 768px) {
		body {
			overflow-x: hidden;
		}
	}
</style>
