---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../style.css';
import Footer from '../components/Footer.astro';
---

<Layout title="CA">
	<main>
		<Footer/>
	</main>
</Layout>

<style>
	@media  (min-width: 768px) {
		main {
			max-width: 1600px;
			margin: 0 auto;
		}
	}
</style>
