---
import '../style.css';
import Button from './Button.astro';
---

<section class="cover">
    <article class="cover-article">
        <div class="flex-begin">
            <h1>Vi hjælper dig med 'voksen'-problemer</h1>
            <h3>Bliv gratis studiemedlem</h3>
        </div>
        <div class="flex-end">
            <Button variant="filled" href="#">
                Meld dig ind
            </Button>
            <p>Det tager kun 5 minutter</p>
        </div>
    </article>
</section>

<style>

@media (min-width: 768px) {
    .cover {
        background-image: url('/images/coverbillede.jpg');
        position: relative;
        margin-left: 10%;
        background-position: center;
        background-size: cover;
        width: 90vw;
        aspect-ratio: 21/9;
        border-radius: 80px 0 0 0;
    }

    .cover-article {
        background-color: var(--second-blue);
        height: 80%;
        width: 600px;
        position: relative;
        left: 80px;
        border-radius: 0 0 0 60px;
        padding: 55px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media (max-width: 768px){
    .cover {
        background-image: url('/images/coverbillede.jpg');

        background-position: center;
        background-size: cover;
        padding: 15px;
        color: white;
        width: 100vw;
    }
    .cover-article {
        height: 100%;

        position: relative;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .flex-begin {
        margin: 15px auto;
    }
    
}
    h1 {
        color: white;
        font-size: 62px;
        margin: 20px auto;
    }
    h3 {
        margin-top: 0;
        color: white;
        font-size: 28px;
        font-family: 'Nexa-Light', sans-serif;
        font-weight: 200;
    }
    p {
        margin: 20px 15px;
    }
</style>