---
import '../style.css';
---

<section class="cover">

</section>

<style>
    .cover {
        background-image: url('/images/coverbillede.jpg');
        position: relative;
        margin-left: 10%;
        background-position: center;
        background-size: cover;
        width: 90vw;
        aspect-ratio: 21/9;
        border-radius: 80px 0 0 0;
    }
</style>