---
import '../style.css';
---

<header>
    <img src="/images/CA_Logo_2021_horisontal_DK_RGB.png" alt="" id="logo">
    <nav>

    </nav>
</header>

<style>
    header {
        width: 100vw;
        height: 100px;
    }
    img {
        width: 300px;
    }
</style>