/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
    font-family: Nexa-bold;
    src: url("/public/font/Nexa-Bold.woff2")format("woff2");
}

:root {

    /* Main farver */
    --main-blue:  #054674;
    --second-blue: #0a79ae;
    --third-blue: #0094d6;
    --light-blue: #e6f1f7;

    /* Supplerende farver */
    --dark-brown: #4a4a4a;
    --brown: #5e554a;
    --beige: #cdc5b5;
    --light-beige: #e6e6dd;
    --lighter-beige: #f1f1ed;

    

    
}

*{
    font-family: "Nexa-bold", sans-serif;
}
p {
    font-family: 'Open Sans', sans-serif;
}